[user]
    name = Mark S. Maglana
    email = mmaglana@gmail.com

[github]
    user = relaxdiego

[merge]
    tool = p4mergetool

[mergetool "p4mergetool"]
    cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $PWD/$BASE $PWD/$REMOTE $PWD/$LOCAL $PWD/$MERGED
    trustExitCode = false

[mergetool]
    keepBackup = false

[diff]
    tool = p4mergetool

[difftool "p4mergetool"]
    cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $LOCAL $REMOTE
