{{- $machineType := promptString "Machine type (personal/shared/agent)" -}}
{{- $personal := eq $machineType "personal" -}}
{{- $agent := eq $machineType "agent" -}}
{{- $fullname := "" -}}
{{- $email := "" -}}
{{- $githubUsername := "" -}}
{{- $gpgKey1PasswordUUID := "" -}}
{{- $gpgFingerprint1PasswordUUID := "" -}}
{{- $gpgSSHPrivateKey1PasswordUUID := "" -}}
{{- $gpgSSHPublicKey1PasswordUUID := "" -}}

{{- if $personal -}}
    {{- $fullname = promptString "Full Name" -}}
    {{- $email = promptString "Email" -}}
    {{- $githubUsername = promptString "GitHub Username" -}}
    {{- $gpgKey1PasswordUUID = promptString "1Password UUID of GPG key" -}}
    {{- $gpgFingerprint1PasswordUUID = promptString "1Password UUID of GPG fingerprint" -}}
    {{- $gpgSSHPrivateKey1PasswordUUID = promptString "1Password UUID of SSH private key" -}}
    {{- $gpgSSHPublicKey1PasswordUUID = promptString "1Password UUID of SSH public key" -}}
{{- else if $agent -}}
    {{- $fullname = promptString "Full Name" -}}
    {{- $email = promptString "Email (use your GitHub noreply address)" -}}
    {{- $githubUsername = promptString "GitHub Username" -}}
{{- end -}}

[data]
    shared_machine = {{ not $personal }}
    agent = {{ $agent }}
{{- if $personal }}
    fullname = "{{ $fullname }}"
    email = "{{ $email }}"
    github_username = "{{ $githubUsername }}"
    gpg_key_1password_uuid = "{{ $gpgKey1PasswordUUID }}"
    gpg_fingerprint_1password_uuid = "{{ $gpgFingerprint1PasswordUUID }}"
    gpg_fingerprint = "{{ (onepasswordDetailsFields $gpgFingerprint1PasswordUUID).password.value }}"
    ssh_private_key_1password_uuid = "{{ $gpgSSHPrivateKey1PasswordUUID }}"
    ssh_public_key_1password_uuid = "{{ $gpgSSHPublicKey1PasswordUUID -}}"
{{- else if $agent }}
    fullname = "{{ $fullname }}"
    email = "{{ $email }}"
    github_username = "{{ $githubUsername }}"
{{- end }}
