{{- $fullname := promptString "Full Name" -}}
{{- $email := promptString "Email" -}}
{{- $github_username := promptString "GitHub Username" -}}
{{- $gpgKeyOnePasswordUUID := promptString "1Password UUID of GPG key" -}}
{{- $gpgFingerprintOnePasswordUUID := promptString "1Password UUID of GPG fingerprint" -}}
[data]
    fullname = "{{ $fullname }}"
    email = "{{ $email }}"
    gpg_fingerprint = "{{ (onepassword $gpgFingerprintOnePasswordUUID).details.password }}"
    gpg_key_1password_uuid = "{{ $gpgKeyOnePasswordUUID }}"
    github_username = "{{ $github_username }}"
