# SUBJECT: One line; Imperative; Start with upper case; No period;
# Completes the phrase: "If applied, this commit will..."
#<---------------- 50 chars max ---------------->#


# BODY (Optional): Blank line beforehand; Explain what/why, not how;
#<--------------------------- 72 chars max --------------------------->#


# # Help #
#
# ## 7 Rules (See: https://cbea.ms/git-commit/#seven-rules)
#
#   Examples for the SUBJECT:
#     - Add a preference for feature foo
#     - Simplify the logic for notifications
#     - Remove unnecessary mooing when authorizing a user
#
#
# ## Trailers (Optional)
#
#   - MUST be last in a commit message.
#   - MUST be one trailer per line.
#   - Trailer keys MUST NOT contain spaces
#   - Trailer keys MUST be separated from their values by ": "
#   - MUST NOT have extra lines in between each trailer
#
#   Examples:
#     - See: Description <https://example.com/...>
#     - Co-authored-by: Name <name@example.com>
#     - Sponsored-by: Name <name@example.com>
#
#   Conventional-Commits-inspired examples:
#     - fix: Prevent racing of requests (affects SemVer PATCH)
#     - feat: Add Polish language (affects SemVer MINOR)
#     - BREAKING-CHANGE: use JS features not available in Node 6. (affects SemVer MAJOR)
#
#   List trailers in commits via the command:
#
#       git log --format="%h %(trailers:separator=%x2C )" | grep '^[0-9a-f]* [[:print:]].*'
#
#
# ## References
#
#   - https://github.com/joelparkerhenderson/git-commit-message
#   - https://cbea.ms/git-commit/#seven-rules
#   - https://git-scm.com/docs/git-interpret-trailers
#   - https://conventionalcommits.org
#   - https://github.com/angular/angular/blob/22b96b9/CONTRIBUTING.md#type
