# Subject:
#   - One line, imperative, start with upper case, avoid period
#   - Must complete this phrase: "If applied, this commit will..."
#<---------------- 50 chars max ---------------->#


# (Optional) Body:
#   - Blank line beforehand
#   - explain what/why, not how
#<--------------------------- 72 chars max --------------------------->#


Signed-off-by: {{ .fullname }} <{{ .email }}>

# # Help #
#
# ## 7 Rules (from https://cbea.ms/git-commit/#seven-rules)
#
# Subject
#
#   Examples:
#     - Add a preference that will customize behavior Y
#     - Simplify the logic needed to send out a notification
#     - Remove the unnecessary step of mooing when authorizing a user
#
#
# Trailers
#
#   Trailers are good for tracking and also for `git interpret-trailers`.
#   git tools require trailers to be last in a commit message, and must
#   be one trailer per line, with no extra lines between.
#
#   Examples:
#     - See: Description <https://example.com/...>
#     - Co-authored-by: Name <name@example.com>
#     - Sponsored-by: Name <name@example.com>
#
#
# ## Conventional Commits (from https://www.conventionalcommits.org)
#
# Examples:
#   - Fix: prevent racing of requests
#   - Fix: drop support for Node 6
#
#     BREAKING CHANGE: use JS features not available in Node 6.
#   - Feat: add Polish language
#
#
# ## Gitmoji (from https://gitmoji.dev/)
#
# Examples:
#   - Introduce new features: ✨
#   - Fix a bug: 🐛
#   - Performance improvement: ⚡️
#   - Add or update documentation: 📝
#   - Fix security issues: 🔒️
#
# ## Other References ##
#
#   - https://github.com/joelparkerhenderson/git-commit-message
