#
# This file is managed by chezmoi. Always edit it with the command
# chezmoi edit ~/.bashrc
# chezmoi diff
# chezmoi -v apply
#

# If not running interactively, don't do anything
case $- in
    *i*) ;;
      *) return;;
esac

for file in ~/.bashrc.d/*.bashrc; do
    if [ -f "$file" ]; then source "$file"; fi
done

if [ -f ~/.bash-custom-local ]; then source ~/.bash-custom-local; fi

. "$HOME/.local/bin/env"
