# SUBJECT: One line; Imperative; Start with upper case; No period;
# Completes the phrase: "If applied, this commit will..."
#<---------------- 50 chars max ---------------->#


# (Optional) BODY: Blank line beforehand; Explain what/why, not how;
#<--------------------------- 72 chars max --------------------------->#


Signed-off-by: {{ .fullname }} <{{ .email }}>

# # Help #
#
# ## 7 Rules (https://cbea.ms/git-commit/#seven-rules)
#
#   Examples for the SUBJECT:
#     - Add a preference for feature foo
#     - Simplify the logic for notifications
#     - Remove unnecessary mooing when authorizing a user
#
#
# ## Optional: Trailers (https://git-scm.com/docs/git-interpret-trailers)
#
#   Trailers are good for tracking and also for `git interpret-trailers`.
#   git tools require trailers to be last in a commit message, and must
#   be one trailer per line, with no extra lines between.
#
#   Examples:
#     - See: Description <https://example.com/...>
#     - Co-authored-by: Name <name@example.com>
#     - Sponsored-by: Name <name@example.com>
#
#
# ## Optional: Conventional Commits (https://www.conventionalcommits.org)
#
#   Examples:
#     - fix: Prevent racing of requests
#     - fix: Drop support for Node 6
#
#       BREAKING CHANGE: use JS features not available in Node 6.
#     - feat: Add Polish language
#
#
# ## Other References
#
#   - https://github.com/joelparkerhenderson/git-commit-message
