#!/bin/bash -e

echo "Installing ruff"

unamestr=$(uname)

if [[ "$unamestr" == 'Darwin' ]]; then
    brew install ruff
else
    echo "ERROR: I don't support installation for this OS yet!"
    exit 1
fi
