#!/bin/bash -e
{{ $pyenv_version := "1.2.27" -}}
{{ $pyenv_virtualenv_version := "1.1.5" -}}
{{ $global_python_version := "3.7.7" -}}

which pyenv 1>/dev/null || \
    (git clone https://github.com/pyenv/pyenv.git ~/.pyenv && \
     cd ~/.pyenv && \
     git checkout {{ $pyenv_version }})

export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init -)"

(~/.pyenv/bin/pyenv versions | grep {{ $global_python_version }} 1>/dev/null) || env PYTHON_CONFIGURE_OPTS="--enable-shared" pyenv install {{ $global_python_version }}
pyenv global {{ $global_python_version }}

(pyenv commands | tr '\n' ',' | grep -v virtualenv 1>/dev/null && \
    cd $(pyenv root)/plugins && \
    git clone https://github.com/pyenv/pyenv-virtualenv.git && \
    cd pyenv-virtualenv && \
    git checkout v{{ $pyenv_virtualenv_version }}) || true

eval "$(pyenv virtualenv-init -)"
