#!/bin/bash -e

echo "Installing https://github.com/anordal/shellharden"

unamestr=$(uname)

if [[ "$unamestr" == 'Darwin' ]]; then
    brew install shellharden
else
    echo "Skipping installation of shellharden for ${unamestr}"
    exit 0
fi
