#!/bin/bash -eux
version="0.10.0"

{{ if (eq .chezmoi.os "linux") }}
tarball_basename=nvim-linux64
{{ else if (and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "amd64")) }}
tarball_basename=nvim-macos-x86_64
{{ else if (and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64")) }}
tarball_basename=nvim-macos-arm64
{{ else }}
echo "ERROR: Unsupported operating system 'OS: {{ .chezmoi.os }}; ARCH: {{ .chezmoi.arch }}'"
{{ end }}

cd /tmp
wget -O nvim.tar.gz https://github.com/neovim/neovim/releases/download/v${version}/${tarball_basename}.tar.gz
wget -O nvim.tar.gz.sha256sum https://github.com/neovim/neovim/releases/download/v${version}/${tarball_basename}.tar.gz.sha256sum
test "$(sha256sum nvim.tar.gz | cut -d' ' -f1)" == "$(cat nvim.tar.gz.sha256)" || echo "ERROR: Neovim checksum did not match!!!"
tar -xvf nvim.tar.gz
rm -rf "$HOME/bin/${tarball_basename}"
mv "${tarball_basename}" "$HOME/bin/"
cd "$HOME/bin"
rm -f nvim
ln -s "${tarball_basename}/bin/nvim" nvim
nvim --headless -c 'TSUpdate' -c 'q'
