#!/usr/bin/env bash
set -e

# This is intentionally not a "run once" script because the list of plugins
# declared in dot_config/nvim/lua/relaxdiego/packer.lua may change anytime. By
# making this script run everytime `chezmoi apply` is executed, we ensure that
# the :PackerSync command below is always run.

# Packer plugin manager
# Indicate Packer version to use via dot_config/nvim/lua/relaxdiego/packer.lua
if [ ! -d  ~/.local/share/nvim/site/pack/packer/start/packer.nvim ]; then
    git clone https://github.com/wbthomason/packer.nvim ~/.local/share/nvim/site/pack/packer/start/packer.nvim
    cd ~/.local/share/nvim/site/pack/packer/start/packer.nvim
fi
nvim --headless -c 'autocmd User PackerComplete quitall' -c 'PackerSync'
