#!/bin/bash -e

# From: https://krew.sigs.k8s.io/docs/user-guide/setup/install/

echo "Installing https://krew.sigs.k8s.io"

version="v0.4.3"
unamestr=$(uname)

if [[ "$unamestr" == 'Darwin' ]] || [[ "$unamestr" == 'Linux' ]]; then
    set -x; cd "$(mktemp -d)" &&
    OS="$(uname | tr '[:upper:]' '[:lower:]')" &&
    ARCH="$(uname -m | sed -e 's/x86_64/amd64/' -e 's/\(arm\)\(64\)\?.*/\1\2/' -e 's/aarch64$/arm64/')" &&
    KREW="krew-${OS}_${ARCH}" &&
    curl -fsSLO "https://github.com/kubernetes-sigs/krew/releases/download/${version}/${KREW}.tar.gz" &&
    tar zxvf "${KREW}.tar.gz" &&
    ./"${KREW}" install krew
    { set +x; } 2>/dev/null
else
    echo "ERROR: I don't support installation for this OS yet!"
    exit 1
fi
