#!/bin/bash -e

echo "Node.js"

# Backup ~/.bashrc before installer execution
cp ~/.bashrc ~/.bashrc.87cce59.backup
# installs nvm (Node Version Manager)
curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.3/install.sh | bash
# Restore original bashrc. Settings are in ~/.bashrc.d/100_nvm.bashrc already
mv ~/.bashrc ~/.bashrc.node
mv ~/.bashrc.87cce59.backup ~/.bashrc

source ~/.bashrc.d/100_nvm.bashrc

# download and install Node.js (you may need to restart the terminal)
nvm install 22

# verifies the right Node.js version is in the environment
node -v # should print `v22.x`

# verifies the right npm version is in the environment
npm -v # should print `10.x`
