#!/bin/bash -e
echo '=============================================================='
echo
echo '                  🏠 is where the ❤️   is.'
echo
echo 'Thanks for trying out github.com/relaxdiego/dotfiles!    '
echo
echo 'You may install optional components by running any of the'
echo "following commands:"
echo
ls -1 ~/.local/dotfiles.relaxdiego.com/install-* | xargs -n1 basename | sort -f | xargs -n1 echo "    $"
echo
echo "If you encounter any issues with it, don't hesitate to ask a"
echo 'question via https://github.com/relaxdiego/dotfiles/issues/new'
echo
echo '=============================================================='
