#!/usr/bin/env bash
set -e

# This is intentionally not a "run once" script because the list of plugins or
# the versions declared may have changed over time. By making this script run
# everytime `chezmoi apply` is executed, we ensure that Lazy sync always runs.

echo "Ensuring Neovim plugins are up-to-date..."

nvim --headless "+Lazy! sync" +qa

# Ensure a newline is printed after the previous command
echo
