#!/bin/bash -e

version="0.26.7"
echo "Installing github.com/derailed/k9s ${version}"

unamestr=$(uname)

if [[ "$unamestr" == 'Darwin' ]]; then
    if hash brew 1>&2>/dev/null; then
        brew install k9s
    elif hash port 1>&2>/dev/null; then
        port install k9s
    else
        echo "ERROR: I don't know what package manager you're using!"
        exit 1
    fi
elif [[ "$unamestr" == 'Linux' ]]; then
    echo "Get the binary from https://github.com/derailed/k9s/releases"
    mkdir -p /tmp/k9s
    cd /tmp/k9s
    wget https://github.com/derailed/k9s/releases/download/v0.27.3/k9s_Linux_amd64.tar.gz
    tar -xvf k9s_Linux_amd64.tar.gz
    cp k9s ~/bin/
else
    echo "ERROR: I don't support installation for this OS yet!"
    exit 1
fi
