#!/bin/bash -e
{{ if eq .chezmoi.os "linux" -}}
sudo apt-get update -y
sudo apt-get install -y build-essential || echo "build-essentials already installed"
sudo snap install cmake --classic || echo "cmake already installed"
wget --version || sudo apt install -y wget

{{ else if eq .chezmoi.os "darwin" -}}
touch ~/.bash_profile
grep -i "source ~/.bashrc" ~/.bash_profile || (echo "source ~/.bashrc" >> ~/.bash_profile && source ~/.bash_profile)
brew --version || (/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)")
wget --version || brew install wget
xcode-select --install || echo "XCode CLI tools already installed"
brew install cmake || echo "CMake already installed"

{{ end -}}
