#!/bin/bash -e
{{ if eq .chezmoi.os "darwin" -}}
((brew info bash-completion@2 | grep -i "not installed") && brew install bash-completion@2 \
    || echo "bash-completions@2 already installed")
{{ end }}
