#!/bin/bash -e

{{ if eq .chezmoi.os "darwin" -}}
for util in gnu-tar gzip findutils coreutils; do
    ((brew info "$util" | grep -i "not installed" 1>/dev/null) && brew install "$util") || echo "${util} already installed"
done
{{ end -}}
