#!/bin/bash -e

ctags --version 1>/dev/null 2>&1 && echo "ctags already installed" && exit 0

echo "Installing universal-ctags"

platform='unknown'
unamestr=$(uname)

if [[ "$unamestr" == 'Darwin' ]]; then
    if hash brew 1>&2>/dev/null; then
        brew install --HEAD universal-ctags/universal-ctags/universal-ctags
    else
        echo "ERROR: I don't know what package manager you're using!"
        exit 1
    fi
elif [[ "$unamestr" == 'Linux' ]]; then
    if hash apt-get 1>&2>/dev/null; then
        sudo apt-get -y install universal-ctags
    else
        echo "ERROR: I don't know what package manager you're using!"
        exit 1
    fi
else
    echo "ERROR: I don't support installation for this OS yet!"
    exit 1
fi
