#!/bin/bash -e
echo '=============================================================='
echo
echo '                  🏠 is where the ❤️  is.'
echo
echo '    Thanks for trying out github.com/relaxdiego/dotfiles!    '
echo
echo '=============================================================='
