#!/bin/bash -e
{{ if eq .chezmoi.os "linux" -}}
    {{ if eq .chezmoi.osRelease.id "ubuntu" -}}
    which ag 1>/dev/null || sudo apt install silversearcher-ag -y
    {{ end -}}

{{ else if eq .chezmoi.os "darwin" -}}
which ag 1>/dev/null || brew install the_silver_searcher

{{ end -}}
