#!/bin/bash -e

echo "Installing tflint"

unamestr=$(uname)

if [[ "$unamestr" == 'Darwin' ]]; then
    brew install tflint
else
    echo "ERROR: I don't support installation for this OS yet!"
    exit 1
fi
