#!/bin/bash -e
{{ $pyenv_version := "1.2.19" }}
{{ $pyenv_virtualenv_version := "1.1.5" }}
which pyenv && pyenv virtualenv --help && exit 0
git clone https://github.com/pyenv/pyenv.git ~/.pyenv
cd ~/.pyenv
git checkout v{{ $pyenv_version }}

git clone https://github.com/pyenv/pyenv-virtualenv.git $(pyenv root)/plugins/pyenv-virtualenv
cd $(pyenv root)/plugins/pyenv-virtualenv
git checkout v{{ $pyenv_virtualenv_version }}
