#!/bin/bash -e
which pyenv && exit 0
{{ $pyenv_version := "1.2.19" }}
git clone https://github.com/pyenv/pyenv.git ~/.pyenv
cd ~/.pyenv
git checkout v{{ $pyenv_version }}

git clone https://github.com/pyenv/pyenv-virtualenv.git $(pyenv root)/plugins/pyenv-virtualenv
